.button {
  display: inline-block;
  padding: 12px 49px;

  font-size: 13px;
  font-weight: 600;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: $color-red;

  @media (min-width: $bp-3+px) {
    &:hover {
      background-color: #d62727;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
