.page {
  box-sizing: border-box;
}

.page__body {
  min-width: $width-min;
  // height: 100%;

  &--lock {
    // overflow: hidden;
  }
}

.page__wrapper {
  // position: relative;

  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;

  overflow: hidden;
}

.page__header {}

.page__main {
  // min-height: 100vh;
}

.page__header {}
