.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;

  &--fixed {

  }
}

.page-header__body {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  @include adaptiv-value("padding-top", 37, 20, 1);
  @include adaptiv-value("padding-bottom", 37, 20, 1);

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.15);
  }

  @media (max-width: $bp-3+px) {
    .page-header--active &::before  {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;

      background-color: #2b2e4a;
    }
  }
}

.page-header__logo {
  position: relative;
  z-index: 30;
  flex: 0 0 189px;
  margin-right: 20px;
}

.page-header__nav {}

.page-header__burger {
  position: relative;
  z-index: 10;

  display: none;
  width: 30px;
  height: 20px;

  @media (max-width: $bp-3+px) {
    display: block;
    flex: 0 0 30px;
  }
}

.page-header__burger::before,
.page-header__burger::after {
  content: "";

  position: absolute;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: $color-white;

  transition: all 0.3s ease 0s;
}

.page-header__burger::before {
  top: 1px;
}

.page-header__burger::after {
  bottom: 0;
}

.page-header__burger span {
  position: absolute;
  top: 9px;

  width: 100%;
  height: 2px;
  background-color: $color-white;

  transition: all 0.3s ease 0s;
}

.page-header__burger.active::before {
  top: 9px;
  transform: rotate(45deg);
}

.page-header__burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
}

.page-header__burger.active span {
  transform: scale(0);
}
